*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.carossel{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: white;
}

.botoes{
   width: 80%;
   height: 60px; 
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.fotos{
    background-color: chartreuse;
    width: 90%;
    height: 100%;
}

.voltar , .proxima{
    width: 5%;
    height: 100%;
    background-color: rgb(161, 11, 124);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_antes_depos{
    height: 300px;
    width: 100%;
}

li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

button{
    padding: 10px;
}

.btn_nao_numerados{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(245, 12, 175);
}

@media screen and (max-width:992px){

    .carossel, .botoes{
        width: 100%;
        height: 100%;
    }

    .btn_antes_depos{
        display: none;
    }

    body{
        background-color: white;
    }

    .botoes{
        height: 100px;
    }
    
}

